
<%= form_for :hr, :url=>{:controller=>'human_resources', :action=>'create'}  do |f|%>


	<p>
		<%= f.label :first_name%>
		<%= f.text_field :first_name%>
	</p>

	<p>
		<%= f.label :last_name%>
		<%= f.text_field :last_name%>
	</p>

	<p>
		<%= f.label :company_name%>
		<%= f.text_field :company_name%>
	</p>

	<p>
		<%= f.label :place%>
		<%= f.text_field :place%>
	</p>

	<p>
		<%= f.label :email%>
		<%= f.text_field :email%>
	</p>

	<p>
		<%= f.label :contact_no%>
		<%= f.text_field :contact_no%>
	</p>

	

	<p>
		<%= f.submit "create"%>
	</p>

<% end %>