<div class="edit_hr">
<%= form_for :hr, :url=>{:controller=>'human_resources', :action=>'create'}  do |f|%>


  <div class="row">
	<div class="col_4">
		<%= f.label :first_name%>
		<%= f.text_field :first_name%>
	</div>

	<div class="col_4">

		<%= f.label :last_name%>
		<%= f.text_field :last_name%>
	</div>

    <div class="col_4">

		<%= f.label :company_name%>
		<%= f.text_field :company_name%>
	</div>
  </div>
  <div class="row">

    <div class="col_4">

		<%= f.label :place%>
		<%= f.text_field :place%>
	</div>

    <div class="col_4">

		<%= f.label :email%>
		<%= f.text_field :email%>
	</div>

	<div class="col_4">
		<%= f.label :contact_no%>
		<%= f.text_field :contact_no%>
	</div>

 </div>
     <div class="row">

 	<div class="col_4">
		<%= f.submit "create", class: 'submit'%>
	</div>
	</div>
<% end %>
</div>