<h1>Employees#show</h1>
<p>Find me in app/views/employees/show.html.erb</p>
	
<%#= link_to 'edit' , edit_employee_path(@employee.id)%>
<%# for emploee in @emploees %>

<h2>Personal details:</h2>

	<p>
		<strong>First Name:</strong>
		<%= @hr.first_name%>
	</p>


	<p>
		<strong>Last Name:</strong>
		<%= @hr.last_name%>
	</p>


	<p>
		<strong>Company name:</strong>
		<%= @hr.comapny_name%>
	</p>

	<p>
		<strong>Place:</strong>
		<%= @hr.place%>
	</p>
	
	<p>
		<strong>Email:</strong>
		<%= @hr.email%>
	</p>

	<p>
		<strong>Contact No:</strong>
		<%= @hr.contact_no%>
	</p>


